.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 20%;
  top: 50%;
}

.mainLogo {
  width: 380px;
  margin-bottom: 15px;
}

.idInput,
.pwInput {
  padding: 0 10px 0 10px;
}

.unActiveButton {
  text-align: center;
  width: 100%;
  background-color: #ffcbcb;
  font-size: 20px;
  color: white;
  border: none;
}

.activeButton {
  text-align: center;
  width: 100%;
  background-color: brown;
  font-size: 20px;
  color: white;
  border: none;
}

.loginEtc {
  display: flex;
  font-size: 20px;
}

.signUp,
.lostAccounts {
  display: flex;
  font-size: 18px;
}
