<<<<<<< HEAD
.main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 550px;
  min-width: 1240px;

  .wrap {
    width: 1920px;
    margin: 0 auto 0;

    .mainImg {
      display: flex;
      overflow: hidden;
      margin-bottom: 70px;

      img {
        height: 845px;
        min-width: 100%;
      }
    }
  }
=======
.ggg {
  font-family: 'KimjungchulGothic-Bold';
>>>>>>> 1278ea023b04f15a782f6e5f92295e9e4e59a468
}
