.cart {
  padding-top: 120px;
}
.path {
  float: right;
  padding-right: 70px;
  color: #909090;
}
.cartHeader {
  position: relative;
  margin: 0 auto;
}
.pathHome {
  &::after {
    content: ' > ';
  }
}

.cartTitle {
  font-family: 'KimjungchulGothic-Bold';
  font-size: 3em;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid #5f5f5f;
}

.cardHeader {
  position: relative;
  padding-top: 20px;
}
.cartAllCheckBox {
  transform: scale(1.5);
}
.cartAllCheck {
  font-size: 18px;
  margin-left: 10px;
}
//
.minusCount {
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.countInputText {
  margin: 0 10px 0 10px;
}
.plusCount {
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 18px;
}
