header {
  width: 100%;
  height: 50px;
  background-color: moccasin;
}

nav {
  width: 100%;
  height: 50px;
  background-color: turquoise;
}

.DetailProduct {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  width: 1200px;
}

.detailProductArea {
  width: 100%;
}

.productInfo {
  display: inline-block;
  width: 50%;
  height: 700px;
  font-size: 20px;
  background-color: lawngreen;
}

.infoArea {
  display: inline-block;
  width: 50%;
  height: 700px;
  font-size: 20px;
  background-color: darkseagreen;
}

img {
  width: 400px;
}
