.lostAccountsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 10%;
}

.mainLogo {
  width: 300px;
  margin-bottom: 15px;
}

.idInput {
  position: relative;
  display: block;
  width: 300px;
  height: 50px;
  border-radius: 4px 4px 0px 0px;
  padding: 25px 0px 25px 0px;
}

.submit {
  text-align: center;
  background-color: #ffcbcb;
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin: 15px 0px 15px 0px;
  color: white;
  border: none;
}
