.bestProduct {
  max-width: 1740px;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;

  .header {
    margin: 60px auto 50px;
    color: #1a1a1a;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
  }

  .tab {
    margin: 0 auto;
    text-align: center;

    li {
      display: inline-block;
      height: 35px;
      margin: 0 20px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s;
      z-index: 4;

      button {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        border-bottom: solid 3px transparent;
        display: block;
      }

      button.on {
        border-bottom: solid 3px black;
        // transition: 2s;
      }

      button.on::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #c41e20;
        border-radius: 50%;
        top: 0;
        right: -10px;
        // transition: 1s;
      }
    }
  }

  .products {
    margin: 50px auto 0 auto;
    position: relative;

    .product {
      width: 100%;
      min-width: 100%;
      transition: 0.2s ease-in;

      .productForm {
        display: inline-block;
        color: #757575;
        width: 24%;
        margin: 0 0.5% 60px;
        position: relative;
        vertical-align: top;

        .thumb {
          position: relative;
          margin: 0 auto;
          text-align: center;

          .num {
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            padding: 0;
            color: #fff;
            font-size: 22px;
            font-weight: 400;
            line-height: 54px;
            text-align: center;
            background-color: #e86434;
            position: absolute;
            z-index: 5;

            &.new {
              background-color: #b5b5b5;
            }
          }
        }

        .images {
          position: relative;
          cursor: pointer;
          display: block;

          &::after {
            content: '';
            display: block;
            background-color: rgba(194, 184, 184, 0.422);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            transition: all 0.4s;
            height: 613px;
          }

          &:hover::after {
            opacity: 1;
          }

          &:hover {
            .list {
              width: 32px;
              height: 32px;
              opacity: 1;
              transform: translateY(-20px);
            }
          }

          img {
            width: 100%;
            border: 0 !important;
            height: 613px;
          }

          .list {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fffafa;
            position: absolute;
            bottom: 0;
            right: 14px;
            z-index: 3;
            opacity: 0;
            transform: translateY(0);
            transition: all 0.3s;

            .menu {
              width: 20px;
              height: 27px;
              padding: 3px;
              margin: 0 auto;
            }
          }
        }

        .description {
          margin: 0 auto;
          padding: 10px 0;
          text-align: left;
          position: relative;
          font-size: 12px;
          line-height: 18px;

          .name {
            font-size: 16px;
            text-align: left;
            line-height: 22px;
            color: #1a1a1a;
            margin-bottom: 12px;

            .heart {
              float: right;
              margin-right: 2px;
              cursor: pointer;
              vertical-align: middle;
              width: 21px;
              height: 20x;
            }
          }

          .price {
            font-size: 22px;
            color: #1a1a1a;
            font-weight: 500;
            line-height: 18px;
            margin-right: 10px;

            .originalPrice {
              font-size: 16px;
              color: #b9b9b9;
              text-decoration: line-through;
              font-weight: 400;
              padding: 0 10px;
            }

            .rateDiscount {
              font-size: 16px;
              color: #c41e20;
            }
          }
          .colors {
            margin: 15px 0 0;
            font-size: 0;
            line-height: normal;

            .color {
              display: inline-block;
              width: 14px;
              height: 14px;
              margin-right: 3px;
              border: 1px solid #e6e5e5;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
