.count {
  margin: 0 20px 0 20px;
  .countInput {
    .countButton {
      border: 1px solid #ddd;
      width: 22px;
      height: 22px;
      display: inline-block;
      color: black;
      margin: 0 10px 0 10px;
      .countInputText {
        margin: 0 10px 0 10px;
        font-size: 17px;
      }
    }
  }
}
