@font-face {
  font-family: 'KimjungchulGothic-Light';
  src: url('../fonts/KimjungchulGothic-Light.ttf');
}
@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('../fonts/KimjungchulGothic-Bold.ttf');
}
@font-face {
  font-family: 'KimjungchulGothic-Regular';
  src: url('../fonts/KimjungchulGothic-Regular.ttf');
}

* {
  font-family: 'KimjungchulGothic-Regular';
}
