.minusCount {
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.countInputText {
  margin: 0 10px 0 10px;
}
.plusCount {
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 18px;
}
