.footer {
  height: 300px;
  width: 100%;
  margin: 50px auto 0;
  padding: 50px 0;
  background-color: #f7f7f7;
  min-width: 1380px;

  .padding {
    max-width: 1440px;
    min-width: 1240px;
    margin: 0 auto;
    padding: 0 5%;

    .footerSection01 {
      margin: 0 0 30px 0;
      float: left;

      .information {
        margin-bottom: 40px;

        .phone {
          font-size: 22px;
          font-weight: 700;
          color: #1a1a1a;
          margin-bottom: 10px;
        }

        .email {
          font-size: 13px;
          font-weight: 400;
          color: #909090;
        }

        p {
          font-size: 13px;
          color: #1a1a1a;
          line-height: 23px;
        }
      }

      .subInformation {
        font-size: 13px;
        color: #909090;
        line-height: 25px;
        margin-bottom: 40px;
      }
    }

    .icon {
      display: flex;

      .em {
        display: flex;
        align-items: center;
        margin-right: 20px;
        i {
          font-size: 35px;
          margin-right: 12px;
        }
      }
      a {
        margin-right: 15px;
      }
      i {
        font-size: 35px;
      }
    }

    .footerSection02 {
      float: right;
      ul:first-child {
        float: left;
        text-align: right;
      }
      ul {
        float: left;
        text-align: right;
        margin: 0 0 0 50px;
      }
      a {
        line-height: 30px;
        font-size: 13px;
        color: #606060;
      }
      .move {
        position: relative;
        margin-top: 76px;
        float: right;
      }
    }
  }
}
