.topMenuContentList:hover .navCateGory {
  display: block;
}

.topMenuContentList .navCateGory {
  display: none;
}

.topMenuContentList .navCateGoryInner {
  position: fixed;
  background-color: white;
  left: 0%;
  right: 0%;
  top: 92px;
  font-size: 0;
  cursor: pointer;
  box-shadow: 0 480px 0 rgba(0, 0, 0, 0.5);
  min-height: 480px;

  .topMenuContentList:first-child {
    margin-left: 0;
  }

  .navCateGoryList {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;

    &:first-child {
      margin: 60px 90px 80px 295px;
    }

    &:nth-child(2) {
      margin: 56px 90px 80px 5px;
      border-left: 1px solid #6b6969;
      padding-left: 48px;
      color: #6b6969;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .navCategoryPhoto {
    display: inline-block;
    vertical-align: top;
    margin: 60px 90px 80px 275px;
    width: 34%;

    .photoList {
      display: inline;

      .photoImg {
        display: inline;
        width: 31%;
        height: 300px;
        padding-right: 12px;
      }
    }
  }
}
