@mixin errorMessage {
  margin-left: 22px;
  font-size: 13px;
}

@mixin signUpEndButton {
  border: 1px solid #ccc;
  min-width: 150px;
  max-width: 150px;
  height: 40px;
  font-size: 17px;
}

.signUp {
  position: relative;
  min-width: 1000px;
}

.signUpHeader {
  margin: 50px;

  .signUpLogo {
    width: 150px;
    margin-left: 150px;
    padding-top: 7px;
  }
  .signUpTitle {
    font-family: 'KimjungchulGothic-Bold';
    font-size: 35px;
    border-bottom: 1px solid black;
    margin-left: 225px;
    margin-right: 225px;
    padding-top: 55px;
  }
  .signUpLine {
    margin: 0 150px 0 150px;
  }
}

.signUpWrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .infoFirst {
    margin-bottom: 5px;
    .signUpCircle {
      width: 20px;
    }
    .signUpInfoTitle {
      font-size: 25px;
      margin-left: 5px;
    }
  }
}

th {
  color: #333;
  background: #f3f3f3;
  padding: 10px 0 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  width: 180px;
}

td {
  border-bottom: 1px solid #ddd;
  display: table-cell;
  width: 300px;
}

.inputWrap {
  display: flex;
  height: 52px;
  align-items: center;
}

.infoTitle {
  padding: 20px;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid black;
}

.inputInfo {
  margin: 0 20px 0 20px;
  display: inline-block;
  border-radius: 5px;
}
.idForm {
  @include errorMessage;
  color: #bb2420;
}
.idFormCorrect {
  @include errorMessage;
}
.emailForm {
  @include errorMessage;
  color: #bb2420;
}

.ns {
  color: #bb2420;
}

.signUpYesOrNo {
  text-align: center;
  margin-top: 30px;
}

.btnCancelSignup {
  @include signUpEndButton;
  background: #fff;
}

.signUpButtonAction {
  @include signUpEndButton;
  background: #bb2420;
  margin-left: 10px;
  color: white;
}
.signUpButtonInaction {
  @include signUpEndButton;
  background: #fff;
  margin-left: 10px;
}

.signupDoneCheck {
  @include errorMessage;
}

.emailFormCorrect {
  @include errorMessage;
}

.passwordFormCorrect {
  @include errorMessage;
}

.passwordForm {
  @include errorMessage;
  color: #bb2420;
}

.addressForm {
  @include errorMessage;
}
.pwCheckForm {
  @include errorMessage;
  color: #bb2420;
}
.pwCheckFormCorrect {
  @include errorMessage;
}

.dress {
  width: 30px;
}
