@mixin contentDesign {
  font-family: 'KimjungchulGothic-Bold';
  color: #5f5f5f;
  font-size: 15px;
}
strong {
  font-family: 'KimjungchulGothic-Bold';
  color: #5f5f5f;
  font-size: 15px;
}

.signUpTerms {
  .signUpHeader {
    width: 800px;
    margin: 0 auto;
    .signUpCircle {
      width: 20px;
    }
    .signUpInfoTitle {
      font-size: 25px;
      margin-left: 5px;
    }
  }
  .termsWrap {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .allCheck {
      background: #f3f3f3;
      padding: 15px 20px;
      width: 800px;
      border-top: 1px solid black;
      .customCheck {
        .checkBox {
          accent-color: #bb2420;
        }
      }
      .allCheckTxt {
        font-family: 'KimjungchulGothic-Bold';
        font-size: 15px;
        display: inline-block;
        line-height: 20px;
        padding-left: 10px;
      }
    }
    .signUpTermsLine {
      width: 800px;
    }
    .termsContentWrap {
      width: 800px;
      .termsFirstAgree {
        border-bottom: 1px solid #bbb;
        padding-bottom: 10px;
        font-size: 15px;
        padding-left: 15px;
        .customCheck {
          .checkBox {
            accent-color: #bb2420;
          }
          .firstCheckTxt {
            padding-left: 10px;
            font-family: 'KimjungchulGothic-Bold';
          }
        }
      }
      .termsTxt {
        padding: 10px 15px 10px 15px;
        .signUpTermsContent {
          @include contentDesign;
        }
      }
      .termsSecondAgree {
        border-bottom: 1px solid #bbb;
        padding: 10px 0px 10px 15px;
        font-size: 15px;
        .customCheck {
          .checkBox {
            accent-color: #bb2420;
          }
          .secondCheckTxt {
            padding-left: 10px;
            font-family: 'KimjungchulGothic-Bold';
          }
        }
      }
      .termsTxt {
      }
    }
  }
}
