.nav {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  z-index: 11;

  .width {
    position: relative;
    border: 1px solid #e5e5e5e5;
    background-color: white;
    margin: 0 auto;
    padding: 0 5%;
    height: 90px;
    min-width: 1720px;

    .logo {
      float: left;
      height: 90px;
      line-height: 90px;

      .logoLink {
        height: 90px;
        line-height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logoPhoto {
          width: 150px;
          vertical-align: middle;
        }
      }
    }

    .topMenu {
      float: left;
      margin-left: 35px;

      > .topMenuContent {
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        .topMenuContentLink {
          font-weight: 600;
          font-size: 16px;
          display: block;
          line-height: 90px;
          position: relative;
          z-index: 11;
          padding: 0 20px;
          color: black;
          text-decoration: none;
        }

        .topMenuContentLink:after {
          display: block;
          content: '';
          border-bottom: solid 3px black;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }

        .topMenuContentLink:hover:after {
          transform: scaleX(1);
        }
      }
    }

    .topMember {
      float: right;

      .topMemberContent {
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        .topMemberContentList {
          padding-left: 32px;
          font-family: 'KimjungchulGothic-Light';
          cursor: pointer;

          .topMemberContentPhoto {
            width: 31px;
            height: 31px;
          }

          &:nth-child(even) {
            img {
              width: 34px;
              height: 34px;
            }
          }
        }

        button {
          margin-left: 35px;
          line-height: 42px;
        }
      }
    }
  }
}
